/* App specific styles */
.map-container {
  height: 600px;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar .form,
.sidebar .user__training {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
