/* General Styles */
@import url('../Style.css');

/* Header */
header {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.logo {
  position: absolute;
  left: 20px;
  height: 80px;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.header-logout-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.header-logout-btn:hover {
  background-color: darkred;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  height: calc(100vh - 160px); /* Adjust based on header and footer height */
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

section {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

section h2 {
  color: var(--color-dark);
  font-family: var(--font-family);
}

#exerciseForm label,
#exerciseForm select,
#exerciseForm input[type="number"],
#exerciseForm input[type="submit"] {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#exerciseForm input[type="submit"] {
  background-color: var(--color-secondary);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#exerciseForm input[type="submit"]:hover:enabled {
  background-color: #45a049;
}

#exerciseList {
  list-style-type: none;
  padding: 0;
}

#exerciseList li {
  background-color: var(--color-light);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

#map {
  width: 100%;
  height: 600px;
  margin-bottom: 10px;
}

#logExerciseFromMap {
  background-color: var(--color-secondary);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

#logExerciseFromMap:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

#logExerciseFromMap:hover:enabled {
  background-color: #45a049;
}
